################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug/Protein.tlog/Protein.lastbuildstate
/Debug/Protein.tlog/link.write.1.tlog
/Debug/Protein.tlog/link.read.1.tlog
/Debug/Protein.tlog/link.command.1.tlog
/Debug/Protein.tlog/CL.write.1.tlog
/Debug/Protein.tlog/CL.read.1.tlog
/Debug/Protein.tlog/CL.command.1.tlog
/Debug/vc140.pdb
/Debug/vc140.idb
/Debug/Triangle.obj
/Debug/ShaderProgram.obj
/Debug/shader.obj.enc
/Debug/Shader.obj
/Debug/Quad.obj
/Debug/Protein.log
/Debug/Point.obj
/Debug/main.obj
/Debug/Color.obj
/Debug/Circle.obj
/Debug/Application.obj
