################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug/Protein.tlog/Protein.lastbuildstate
